In [1]:
import duckdb

ModuleNotFoundError: No module named 'duckdb'

In [2]:
conn = duckdb.connect('../data/database.db')

In [4]:
conn.sql('SELECT * FROM restaurant_2023')

┌──────────────┬─────────────────────┬──────────┬────────────┬───┬────────────────┬─────────────┬─────────┬───────┐
│ 개방서비스명 │     인허가일자      │ 폐업일자 │ 영업상태명 │ … │     읍면동     │   도로명    │  번지   │  num  │
│   varchar    │    timestamp_ns     │ varchar  │  varchar   │   │    varchar     │   varchar   │ varchar │ int64 │
├──────────────┼─────────────────────┼──────────┼────────────┼───┼────────────────┼─────────────┼─────────┼───────┤
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 청원구         │ 율량로      │ 192     │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 상화로29길     │             │ 34      │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 백제고분로40길 │             │ 36      │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 만안구         │ 삼봉로      │ 29      │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 만안구         │ 박달로      │ 460     │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 월미로         │             │ 33      │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 을왕로         │             │ 6       │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 미금로         │             │ 134     │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 다산순환로     │             │ 20      │     1 │
│ 일반음식점   │ 2024-07-31 00:00:00 │ NULL     │ 영업/정상  │ … │ 진접읍         │ 해밀예당1로 │ 40      │     1 │
│     ·        │          ·          │  ·       │     ·      │ · │   ·            │      ·      │ ·       │     · │
│     ·        │          ·          │  ·       │     ·      │ · │   ·            │      ·      │ ·       │     · │
│     ·        │          ·          │  ·       │     ·      │ · │   ·            │      ·      │ ·       │     · │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 월곶중앙로     │             │ 48      │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 대안로         │             │ 116     │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 풍산읍         │ 유통단지길  │ 100     │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 고려대로24길   │             │ 55      │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 해룡면         │ 삼동길      │ 2-2     │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 봉담읍         │ 상리2길     │ 97      │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 노작로         │             │ 143     │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 경기대로       │             │ 1011    │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 동탄대로       │             │ 181     │     1 │
│ 일반음식점   │ 2024-06-07 00:00:00 │ NULL     │ 영업/정상  │ … │ 함양읍         │ 용평중앙길  │ 38-4    │     1 │
├──────────────┴─────────────────────┴──────────┴────────────┴───┴────────────────┴─────────────┴─────────┴───────┤
│ ? rows (>9999 rows, 20 shown)                                                              15 columns (8 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
conn.close()