In [1]:
import duckdb

In [2]:
conn = duckdb.connect('../data_2025/database.db')

In [4]:
conn.sql('SELECT * FROM restaurant_2025')

┌──────────────┬─────────────────────┬────────────┬────────────┬───┬───────────────────┬────────────┬─────────┬───────┐
│ 개방서비스명 │     인허가일자      │  폐업일자  │ 영업상태명 │ … │      읍면동       │   도로명   │  번지   │  num  │
│   varchar    │    timestamp_ns     │  varchar   │  varchar   │   │      varchar      │  varchar   │ varchar │ int64 │
├──────────────┼─────────────────────┼────────────┼────────────┼───┼───────────────────┼────────────┼─────────┼───────┤
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ NULL              │ NULL       │ NULL    │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ 두산로5길         │            │ 58      │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ 서사로            │            │ 101     │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ 조천읍            │ 조함해안로 │ 619     │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ 의성로115번길     │            │ 62      │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ NULL              │ NULL       │ NULL    │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 운영중     │ 영업/정상  │ … │ 남부순환로        │            │ 1430    │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 2025-08-29 │ 폐업       │ … │ 서전로58번길      │            │ 48      │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 2025-08-30 │ 폐업       │ … │ 함양읍            │ 중앙시장길 │ 9-8     │     1 │
│ 일반음식점   │ 2025-08-29 00:00:00 │ 2025-08-30 │ 폐업       │ … │ 함양읍            │ 중앙시장길 │ 9-8     │     1 │
│     ·        │          ·          │   ·        │  ·         │ · │   ·               │     ·      │ ·       │     · │
│     ·        │          ·          │   ·        │  ·         │ · │   ·               │     ·      │ ·       │     · │
│     ·        │          ·          │   ·        │  ·         │ · │   ·               │     ·      │ ·       │     · │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 동광길            │            │ 8       │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 모랫말로          │            │ 36-3    │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 하늘달빛로        │            │ 90-27   │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 서해대로93번길    │            │ 8       │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 하늘달빛로        │            │ 90-27   │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 토성면            │ 아야진길   │ 38-6    │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 하중로            │            │ 207     │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 목감둘레로        │            │ 90      │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 서울대학로264번길 │            │ 12      │     1 │
│ 일반음식점   │ 2025-07-02 00:00:00 │ 운영중     │ 영업/정상  │ … │ 은계호수로        │            │ 25      │     1 │
├──────────────┴─────────────────────┴────────────┴────────────┴───┴───────────────────┴────────────┴─────────┴───────┤
│ ? rows (>9999 rows, 20 shown)                                                                  15 columns (8 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [9]:
df_2025 = conn.execute('SELECT * FROM restaurant_2025').fetch_df()

In [10]:
df_2025

,개방서비스명,인허가일자,폐업일자,영업상태명,소재지,시설명,구분,남성종사자수,여성종사자수,시도,시군구,읍면동,도로명,번지,num
0,일반음식점,2025-08-29,운영중,영업/정상,,제3회 공근 소맥축제,한식,0.0,0.0,None,None,None,None,None,1
1,일반음식점,2025-08-29,운영중,영업/정상,서울특별시 금천구 두산로5길 58,돌리고,한식,0.0,0.0,서울특별시,금천구,두산로5길,,58,1
2,일반음식점,2025-08-29,운영중,영업/정상,제주특별자치도 제주시 서사로 101,박한별무도학원,분식,0.0,0.0,제주특별자치도,제주시,서사로,,101,1
3,일반음식점,2025-08-29,운영중,영업/정상,제주특별자치도 제주시 조천읍 조함해안로 619,해장살롱,한식,0.0,0.0,제주특별자치도,제주시,조천읍,조함해안로,619,1
4,일반음식점,2025-08-29,운영중,영업/정상,부산광역시 북구 의성로115번길 62,바른한끼 덕천점,한식,0.0,0.0,부산광역시,북구,의성로115번길,,62,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10183,일반음식점,2025-07-01,운영중,영업/정상,대구광역시 동구 효동로6길 21,대돈가,기타,0.0,0.0,대구광역시,동구,효동로6길,,21,1
10184,일반음식점,2025-07-01,운영중,영업/정상,경상남도 밀양시 삼랑진읍 우곡1길 60-2,만어가마솥추어탕,한식,0.0,0.0,경상남도,밀양시,삼랑진읍,우곡1길,60-2,1
10185,일반음식점,2025-07-01,운영중,영업/정상,서울특별시 동작구 남부순환로 2055,육회바른연어 사당제일점,한식,0.0,0.0,서울특별시,동작구,남부순환로,,2055,1
10186,일반음식점,2025-07-01,운영중,영업/정상,경상북도 구미시 상사서로 71,통로비어,호프/통닭,0.0,0.0,경상북도,구미시,상사서로,,71,1
10187,일반음식점,2025-07-01,운영중,영업/정상,경기도 용인시 처인구 이동읍 백옥대로 643,우낙곱새&과일,기타,0.0,0.0,경기도,용인시,처인구,이동읍 백옥대로,643,1

In [21]:
df_2025[['시도', '인허가일자']]

            시도      인허가일자
0         None 2025-08-29
1        서울특별시 2025-08-29
2      제주특별자치도 2025-08-29
3      제주특별자치도 2025-08-29
4        부산광역시 2025-08-29
...        ...        ...
10183    대구광역시 2025-07-01
10184     경상남도 2025-07-01
10185    서울특별시 2025-07-01
10186     경상북도 2025-07-01
10187      경기도 2025-07-01

[10188 rows x 2 columns]

In [20]:
df_2025[df_2025['시도'] == '서울특별시'][['시도', '인허가일자']]

          시도      인허가일자
1      서울특별시 2025-08-29
6      서울특별시 2025-08-29
16     서울특별시 2025-08-29
20     서울특별시 2025-08-29
29     서울특별시 2025-08-29
...      ...        ...
10170  서울특별시 2025-07-01
10172  서울특별시 2025-07-01
10174  서울특별시 2025-07-01
10176  서울특별시 2025-07-01
10185  서울특별시 2025-07-01

[2230 rows x 2 columns]

In [7]:
conn.close()