In [1]:
import duckdb
import pandas as pd

In [2]:
con = duckdb.connect('../data/database.db')

In [4]:
empty_house = pd.read_csv('../data/namwon/전라북도 남원시_빈집_20230824.csv', encoding='cp949')
population = pd.read_csv('../data/namwon/전라북도 남원시_인구현황_20230801.csv', encoding='cp949')
library = pd.read_csv('../data/namwon/전라북도 남원시_작은 도서관 현황_20231106.csv', encoding='cp949')
welfare_facilities = pd.read_csv('../data/namwon/welfare_facilities.csv')

In [ ]:
# 데이터 저장
df = pd.read_csv('../data/speed_data.csv')
con.execute("CREATE TABLE speed_data AS SELECT * FROM df")

In [ ]:
con.execute("CREATE TABLE empty_house AS SELECT * FROM empty_house")

In [ ]:
con.execute("CREATE TABLE population AS SELECT * FROM population")

In [7]:
con.execute("CREATE TABLE welfare_facilities AS SELECT * FROM welfare_facilities")

In [ ]:
con.execute("CREATE TABLE library AS SELECT * FROM library")

In [8]:
# 데이터 조회
df1 = con.execute("SELECT * FROM speed_data").df()
df2 = con.execute("SELECT * FROM empty_house").df()
df3 = con.execute("SELECT * FROM population").df()
df4 = con.execute("SELECT * FROM welfare_facilities").df()
df5 = con.execute("SELECT * FROM library").df()

In [54]:
df1[:2]

,개방서비스명,인허가일자,폐업일자,영업상태명,소재지,시설명,구분,남성종사자수,여성종사자수,시도,시군구,읍면동,도로명,번지,num
0,일반음식점,2024-07-31,None,영업/정상,충청북도 청주시 청원구 율량로 192,상만이네야장포차,한식,0.0,0.0,충청북도,청주시,청원구,율량로,192,1
1,일반음식점,2024-07-31,None,영업/정상,대구광역시 달서구 상화로29길 34,집밥전문 찌개좀 먹어본놈,한식,0.0,0.0,대구광역시,달서구,상화로29길,None,34,1

In [55]:
df2[:2]

,소재지 도로명주소,소재지 지번주소,연면적,건축면적,대지면적,주택유형,담당기관,담당자 연락처,데이터 기준일자
0,전라북도 남원시 대강면 대강월산길 37-16,전라북도 남원시 대강면 월탄리 175-2,46.99,46.99,159,단독주택(다가구),남원시청 건축과,063-620-6594,2023-08-24
1,전라북도 남원시 옥샘길 42-7,전라북도 남원시 동충동 12-11,108.10,108.10,264,단독주택(다가구),남원시청 건축과,063-620-6594,2023-08-24

In [56]:
df3[:2]

,연도별,월별,읍면동,인구수,인구수(남),인구수(여),세대수,60세 이상 인구수,60세 이상 인구수(남),60세 이상 인구수(여),데이터기준일자
0,2023,1월,운봉읍,3744,1807,1937,2078,2021,880,1141,2023-08-01
1,2023,1월,주천면,2559,1294,1265,1372,1264,587,677,2023-08-01

In [57]:
df4[:2]

                소재지       시설명   읍면동    구분  num
0   전라북도 남원시 양림길 43  춘향문화예술회관   양림길  문화시설    1
1  전라북도 남원시 광한북로 54    지리산소극장  광한북로  문화시설    1

In [58]:
df5[:2]

,구분,도서관명,위치,규모,등록일,장서수,대표전화,데이터기준일자
0,1,독우물작은도서관,전라북도 남원시 금지면 독우물길 33,66.0,2008-04-01,7730,063-626-6669,2023-11-06
1,2,혼불작은도서관,전라북도 남원시 사매면 오신1길 9-2,132.0,2009-02-01,11291,063-634-9003,2023-11-06

In [9]:
con.close()