In [1]:
import pandas as pd

In [2]:
PATH = '../data/fulldata_07_24_04_P_일반음식점.csv'
df = pd.read_csv(PATH, encoding='cp949')
df = df.copy()

C:\Users\PCN\AppData\Local\Temp\ipykernel_1588\3905001769.py:2: DtypeWarning: Columns (11,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH, encoding='cp949')

In [ ]:
def split_address(address):
    parts = address.split()
    
    if len(parts) >= 4:
        city_name = parts[0]  # 예: 전라북도
        district = parts[1]  # 예: 남원시
        town = parts[2]  # 예: 대강면
        road_name = ' '.join(parts[3:-1])  # 예: 대강월산길 (주소의 마지막 요소 전까지 모두 도로명으로 처리)
        bungee = parts[-1]  # 예: 37-16 (주소의 마지막 요소는 항상 번지로 처리)
        
        return city_name, district, town, road_name, bungee
    else:
        return None, None, None, None, None

In [3]:
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [4]:
df[:2]

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,3550000,3550000-101-2023-00169,2023-11-20,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,36.10,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,5710000,5730000-101-2023-00460,2023-11-20,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,42.31,NaN,NaN,NaN,NaN

In [6]:
sorted_day_df = df.sort_values(by='인허가일자',ascending=False)
selected_df = sorted_day_df[:15000].loc[:, ['개방서비스명', '인허가일자', '폐업일자','영업상태명', '도로명전체주소', '사업장명', '업태구분명', '남성종사자수', '여성종사자수']]
# drop_df = selected_df.dropna()
selected_df['도로명전체주소'] = selected_df['도로명전체주소'].fillna('')
selected_df.loc[:, '도로명전체주소'] = [address.split(',')[0] for address in selected_df['도로명전체주소']]

In [8]:
# slice_df = df[:5050]
# slice_df2 = df[-6063:]
# slice_df = slice_df.loc[:, ['개방서비스명', '영업상태명', '도로명전체주소', '사업장명', '업태구분명', '남성종사자수', '여성종사자수']]
# slice_df2 = slice_df2.loc[:, ['개방서비스명', '영업상태명', '도로명전체주소', '사업장명', '업태구분명', '남성종사자수', '여성종사자수']]
# concat_df = pd.concat([slice_df, slice_df2])
# n_df = concat_df.reset_index().drop(columns='index')
# drop_df = n_df.dropna()
# drop_df.loc[:, '도로명전체주소'] = [address.split(',')[0] for address in drop_df['도로명전체주소']]

In [17]:
selected_df[['시도', '시군구', '읍면동', '도로명', '번지']] = selected_df['도로명전체주소'].apply(lambda x: pd.Series(split_address(x)))
selected_df.loc[:, 'num'] = 1
result_df = selected_df.rename(columns={'도로명전체주소': '소재지', '사업장명': '시설명', '업태구분명': '구분'})
result_df = result_df.reset_index().drop(columns='index')

In [23]:
# result_df.to_csv('../data/speed_data.csv', index=False)
result_df.to_csv('../data/speed_data2.csv', index=False)